In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

### Load Data

In [2]:
train_path = "/Users/joefreedman/.kaggle/competitions/titanic/train.csv"
test_path = "/Users/joefreedman/.kaggle/competitions/titanic/test.csv"

train = pd.read_csv(train_path, index_col = "PassengerId")
test = pd.read_csv(test_path, index_col = "PassengerId")

# labels = train["Survived"]
# train = train.drop("Survived", axis=1)

In [3]:
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### Clean Data

In [5]:
def clean_data(data):
    # Fill age with median
    data["Age"] = data["Age"].fillna(data["Age"].median())
    data = data.drop("Cabin", axis=1)
    
    # Replace male/female with 1/0
    data["Sex"] = data["Sex"].replace('male', 1).replace('female', 0)
    data = pd.get_dummies(data, columns=["Embarked"])
    
    # Drop name and ticket because it is unique for each passenger
    data = data.drop(["Name", "Ticket"], axis=1)
    data["Fare"] = data["Fare"].fillna(data["Fare"].mean())
    
    return data

In [7]:
train.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [6]:
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [74]:
train["Age"] = train["Age"].fillna(train["Age"].median())

In [75]:
missing_embarked = train[train["Embarked"].isnull()].index
train = train.drop([62,830])

In [76]:
train = train.drop("Cabin", axis=1)

In [78]:
train.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Embarked     object
dtype: object

In [79]:
train["Sex"] = train["Sex"].replace('male', 1).replace('female', 0)
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,S

In [80]:
train["Sex"].value_counts()

1    577
0    312
Name: Sex, dtype: int64

In [81]:
train = pd.get_dummies(train, columns=["Embarked"])

In [82]:
train = train.drop(["Name", "Ticket"], axis=1)
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,
1,0,3,1,22.0,1,0,7.2500,0,0,1
2,1,1,0,38.0,1,0,71.2833,1,0,0
3,1,3,0,26.0,0,0,7.9250,0,0,1
4,1,1,0,35.0,1,0,53.1000,0,0,1
5,0,3,1,35.0,0,0,8.0500,0,0,1

In [8]:
cleaned_train = clean_data(train)
cleaned_test = clean_data(test)

labels = cleaned_train["Survived"]
cleaned_train = cleaned_train.drop("Survived", axis=1)

### Train/Test Split for Validation

In [9]:
X_train, X_test, y_train, y_test = train_test_split(cleaned_train, labels, test_size=0.20)

### SKlearn Logistic Regression

In [112]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [113]:
model.predict(X_test)

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0])

In [114]:
model.score(X_test, y_test)

0.7988826815642458

In [116]:
final_predictions = model.predict(cleaned_test)

In [117]:
final = pd.DataFrame()
final["PassengerId"] = test.index
final["Survived"] = final_predictions

In [118]:
final.set_index("PassengerId").to_csv("~/Downloads/titanic_results.csv", index="PassengerId")

### SKlearn DT

In [119]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [120]:
model.predict(X_test)

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0])

In [121]:
model.score(X_test, y_test)

0.7821229050279329

In [123]:
final_predictions = model.predict(cleaned_test)

In [124]:
final = pd.DataFrame()
final["PassengerId"] = test.index
final["Survived"] = final_predictions

In [125]:
final.set_index("PassengerId").to_csv("~/Downloads/titanic_results.csv", index="PassengerId")

### XGBoost

In [10]:
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [11]:
model.predict(X_test)

/Users/joefreedman/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1])

In [12]:
model.score(X_test, y_test)

/Users/joefreedman/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.8268156424581006

In [13]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
639,3,0,41.00,0,5,39.6875,0,0,1
308,1,0,17.00,1,0,108.9000,1,0,0
651,3,1,28.00,0,0,7.8958,0,0,1
444,2,0,28.00,0,0,13.0000,0,0,1
317,2,0,24.00,1,0,26.0000,0,0,1
649,3,1,28.00,0,0,7.5500,0,0,1
849,2,1,28.00,0,1,33.0000,0,0,1
231,1,0,35.00,1,0,83.4750,0,0,1
336,3,1,28.00,0,0,7.8958,0,0,1
684,3,1,14.00,5,2,46.9000,0,0,1
855,2,0,44.00,1,0,26.0000,0,0,1
528,1,1,28.00,0,0,221.7792,0,0,1
390,2,0,17.00,0,0,12.0000,1,0,0
696,2,1,52.00,0,0,13.5000,0,0,1
675,2,1,28.00,0,0,0.0000,0,0,1
424,3,0,28.00,1,1,14.4000,0,0,1
571,2,1,62.00,0,0,10.5000,0,0,1
553,3,1,28.00,0,0,7.8292,0,1,0
335,1,0,28.00,1,0,133.6500,0,0,1
513,1,1,36.00,0,0,26.2875,0,0,1
281,3,1,65.00,0,0,7.7500,0,1,0
685,2,1,60.00,1,1,39.0000,0,0,1
1,3,1,22.00,1,0,7.2500,0,0,1
69,3,0,17.00,4,2,7.9250,0,0,1
800,3,0,30.00,1,1,24.1500,0,0,1
464,2,1,48.00,0,0,13.0000,0,0,1
448,1,1,34.00,0,0,26.5500,0,0,1
6,3,1,28.00,0,0,8.4583,0,1,0
35,1,1,28.00,1,0,82.1708,1,0,0
876,3,0,15.00,0,0,7.2250,1,0,0
...,...,...,...,...,...,...,...,...,...
36,1,1,42.00,1,0,52.0000,0,0,1
146,2,1,19.00,1,1,36.7500,0,0,1
814,3,0,6.00,4,2,31.2750,0,0,1
756,2,1,0.67,1,1,14.5000,0,0,1
44,2,0,3.00,1,2,41.5792,1,0,0
149,2,1,36.50,0,2,26.0000,0,0,1
833,3,1,28.00,0,0,7.2292,1,0,0
496,3,1,28.00,0,0,14.4583,1,0,0
633,1,1,32.00,0,0,30.5000,1,0,0
222,2,1,27.00,0,0,13.0000,0,0,1
558,1,1,28.00,0,0,227.5250,1,0,0
194,2,1,3.00,1,1,26.0000,0,0,1
679,3,0,43.00,1,6,46.9000,0,0,1
104,3,1,33.00,0,0,8.6542,0,0,1
625,3,1,21.00,0,0,16.1000,0,0,1
219,1,0,32.00,0,0,76.2917,1,0,0
305,3,1,28.00,0,0,8.0500,0,0,1
127,3,1,28.00,0,0,7.7500,0,1,0
616,2,0,24.00,1,2,65.0000,0,0,1
735,2,1,23.00,0,0,13.0000,0,0,1
11,3,0,4.00,1,1,16.7000,0,0,1
5,3,1,35.00,0,0,8.0500,0,0,1
451,2,1,36.00,1,2,27.7500,0,0,1
309,2,1,30.00,1,0,24.0000,1,0,0
421,3,1,28.00,0,0,7.8958,1,0,0
299,1,1,28.00,0,0,30.5000,0,0,1
162,2,0,40.00,0,0,15.7500,0,0,1
192,2,1,19.00,0,0,13.0000,0,0,1
711,1,0,24.00,0,0,49.5042,1,0,0
79,2,1,0.83,0,2,29.0000,0,0,1

In [16]:
final_predictions = model.predict(cleaned_test)

/Users/joefreedman/.pyenv/versions/anaconda3-5.1.0/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [17]:
final = pd.DataFrame()
final["PassengerId"] = test.index
final["Survived"] = final_predictions

In [18]:
final.set_index("PassengerId").to_csv("~/Downloads/titanic_results.csv", index="PassengerId")